In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

plt.rcParams['axes.facecolor'] = 'white'
plt.rcParams['figure.facecolor'] = 'white'

In [2]:
income_file = 'data/income/17zpallagi.csv'
zip_code_file = "data/income/us zip codes.csv"

income_df = pd.read_csv(income_file)
zip_code_df = pd.read_csv(zip_code_file)



city_list = ['Miami', 'Minneapolis', 'Chicago', 'Houston', 'San Antonio', 'New York', 'Seattle', 'Nashville', 'San Francisco', 'Atlanta']
state_list = ['FL', 'MN', 'IL', 'TX', 'TX', 'NY', 'WA', 'TN', 'CA', 'GA']
renamed_zip_df = zip_code_df.rename(columns = {'zip':'zipcode'})

In [30]:
selected_df = pd.DataFrame( columns=['zipcode', 'city', 'STATE', 'agi_stub', 'A00100'] )
average_income = []
merge_df = income_df.merge(renamed_zip_df, on = 'zipcode')
cleaned_merge_df = merge_df[['zipcode','city', 'STATE', 'agi_stub', 'A00100']]
cleaned_merge_df.head()

print(selected_df)
for city in range(len(city_list)):
    
    selected_city_df = cleaned_merge_df.loc[cleaned_merge_df['city'] == city_list[city]]
    selected_state_df = selected_city_df.loc[selected_city_df['STATE']== state_list[city]]
    selected_df = selected_df.append(selected_state_df)
    
    average_city_income = round(selected_state_df['A00100'].mean(), 2)
    average_income.append(average_city_income)
        

average_df = pd.DataFrame(columns = ['city','average income'])
average_df['city'] = city_list
average_df['average income'] = average_income
print(selected_df['zipcode'].value_counts())
print(average_df)

Empty DataFrame
Columns: [zipcode, city, STATE, agi_stub, A00100]
Index: []
55436    6
77075    6
77063    6
77064    6
77065    6
        ..
30326    6
30327    6
33181    6
60630    6
55455    4
Name: zipcode, Length: 478, dtype: int64
            city  average income
0          Miami       193857.87
1    Minneapolis       152119.23
2        Chicago       283346.64
3        Houston       200740.24
4    San Antonio       137881.09
5       New York       750863.57
6        Seattle       270734.00
7      Nashville       166332.98
8  San Francisco       446292.34
9        Atlanta       236504.70